.card {
  background-color: #232323;
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 30px auto;
}

.card__title {
  margin: 5px auto;
}

.card__title h1 {
  text-transform: capitalize;
}

.card__body {
  background-color: #616161;
  width: 90%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: black solid 2px;
}

.card__body img {
  width: 240px;
  height: 240px;
}

.card__stats {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.card__stats__type {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
  color: #232323;
}

.card__search {
  margin: 5px auto;
}

.card input {
  color: black;
  margin: 5px auto 25px;
  padding: 0 5px;
  border: black solid 2px;
  width: 60%;
  height: 40px;
  border-radius: 5px;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color:#77c850;
}

.fire {
  background-color:#ee7f30
}

.water {
  background-color: #678fee
}

.electric {
  background-color:#f7cf2e;
}

.ice {
  background-color:#98d5d7
}

.ground {
  background-color:#dfbf69
}

.flying {
  background-color:#a98ff0
}

.poison {
  background-color:#a040a0
}

.fighting {
  background-color:#bf3029
}

.psychic {
  background-color:#f65687
}

.dark {
  background-color:#725847
}

.rock {
  background-color:#b8a137
}

.bug {
  background-color:#a8b720
}

.steel {
  background-color:#b9b7cf
}

.ghost {
  background-color:#6e5896
}

.dragon {
  background-color:#6f38f6
}

.fairy {
  background-color:#f9aec7
}
