
<div class="card">
  <div class="card__title">
    <h1> {{ pokemon.name }} #{{pokemon.id}}</h1>
  </div>
  <div *ngIf="pokemon.types[0] as type"
  class="card__body {{ type.type.name }}">
    <img [src]="pokemon.sprites" alt="{{ pokemon.name }}">
  </div>
  <div class="card__stats">
    <span
      *ngFor="let type of pokemon.types"
      class="card__stats__type {{ type.type.name }}">
      {{ type.type.name }}
    </span>
  </div>
  <h3 class="card__search">Busque o seu pokemón preferido!</h3>
  <input type="text" (input)="getPokemon($any($event.target).value)">
</div>
